a {
  color: #1B5E20;
}
a:hover,
a:focus, {
  color: #43A047;
}

/* Header */

.header {
  color: #fff;
  background-color: #1976D2;
}

/* Nav */

.nav {
  margin-bottom: 1rem;
  padding: 1rem 0;
  color: #fff;
  background-color: #0D47A1;
}
.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav ul li {
  display: inline-block;
  margin: 0;
  padding: 0 1rem 0 0;
}
.nav a {
  color: #fff;
}

/* Movies */

.movies {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1rem;
}
.movies li b {
  display: block;
  font-size: 1.25rem;
}
