/* Header */

.header {
  margin-bottom: 1rem;
  color: #fff;
  background-color: #D84315;
}

/* User */

.user {
  display: block;
  overflow: hidden;
  padding: 0.5rem;
  transition: all 250ms ease-out;
}
.user p {
  margin: 0.75rem 0 0;
  line-height: 1.2rem;
  color: #444;
}
.user img {
  display: block;
  float: left;
  margin-right: 0.5rem;
  height: 60px;
}
